.idea
.gradle
*.class
*.pdf
npm-debug.log
*.iml
/browser/node_modules/
/server/build/
/server/logs/
/server/out/
/logs/
/server/target/
/applog/
package-lock.json

/server/target
server/bin/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

/server/applog
.vscode