<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.ChannelMapper">
    <resultMap id="BaseResultMap" type="com.abc.chenzeshenga.logistics.model.Channel">
        <id column="channel_code" jdbcType="VARCHAR" property="channelCode"/>
        <result column="channel_name" jdbcType="VARCHAR" property="channelName"/>
        <result column="partner" jdbcType="VARCHAR" property="partner"/>
        <result column="min" jdbcType="VARCHAR" property="min"/>
        <result column="max" jdbcType="VARCHAR" property="max"/>
        <result column="checked_rules" jdbcType="VARCHAR" property="checkedRules"/>
        <result column="active" jdbcType="VARCHAR" property="active"/>
        <result column="adapter" jdbcType="VARCHAR" property="adapter"/>
        <result column="rule" jdbcType="VARCHAR" property="rule"/>
        <result column="comments" jdbcType="VARCHAR" property="comments"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_on" jdbcType="TIMESTAMP" property="createOn"/>
        <result column="update_on" jdbcType="TIMESTAMP" property="updateOn"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select channel_code,
               channel_name,
               partner,
               `min`,
               `max`,
               checked_rules,
               active,
               adapter,
               rule,
               comments,
               create_by,
               update_by,
               create_on,
               update_on
        from l_channel
        where channel_code = #{channelCode,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from l_channel
        where channel_code = #{channelCode,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="channel_code" keyProperty="channelCode" parameterType="com.abc.chenzeshenga.logistics.model.Channel">
        insert into l_channel (channel_code, channel_name, partner, `min`,
                               `max`, checked_rules, active, adapter, rule,
                               comments, create_by, update_by,
                               create_on, update_on)
        values (#{channelCode,jdbcType=VARCHAR}, #{channelName,jdbcType=VARCHAR}, #{partner,jdbcType=VARCHAR}, #{min,jdbcType=VARCHAR},
                #{max,jdbcType=VARCHAR}, #{checkedRules,jdbcType=VARCHAR}, #{active,jdbcType=VARCHAR}, #{adapter,jdbcType=VARCHAR},
                #{rule,jdbcType=VARCHAR},
                #{comments,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR},
                #{createOn,jdbcType=TIMESTAMP}, #{updateOn,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="channel_code" keyProperty="channelCode" parameterType="com.abc.chenzeshenga.logistics.model.Channel"
            useGeneratedKeys="true">
        insert into l_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="channelName != null">
                channel_name,
            </if>
            <if test="partner != null">
                partner,
            </if>
            <if test="min != null">
                `min`,
            </if>
            <if test="max != null">
                `max`,
            </if>
            <if test="checkedRules != null">
                checked_rules,
            </if>
            <if test="active != null">
                active,
            </if>
            <if test="adapter != null">
                adapter,
            </if>
            <if test="rule != null">
                rule,
            </if>
            <if test="comments != null">
                comments,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="createOn != null">
                create_on,
            </if>
            <if test="updateOn != null">
                update_on,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="channelName != null">
                #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="partner != null">
                #{partner,jdbcType=VARCHAR},
            </if>
            <if test="min != null">
                #{min,jdbcType=VARCHAR},
            </if>
            <if test="max != null">
                #{max,jdbcType=VARCHAR},
            </if>
            <if test="checkedRules != null">
                #{checkedRules,jdbcType=VARCHAR},
            </if>
            <if test="active != null">
                #{active,jdbcType=VARCHAR},
            </if>
            <if test="adapter != null">
                #{adapter,jdbcType=VARCHAR},
            </if>
            <if test="rule != null">
                #{rule,jdbcType=VARCHAR},
            </if>
            <if test="comments != null">
                #{comments,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="createOn != null">
                #{createOn,jdbcType=TIMESTAMP},
            </if>
            <if test="updateOn != null">
                #{updateOn,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.abc.chenzeshenga.logistics.model.Channel">
        update l_channel
        <set>
            <if test="channelName != null">
                channel_name = #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="partner != null">
                partner = #{partner,jdbcType=VARCHAR},
            </if>
            <if test="min != null">
                `min` = #{min,jdbcType=VARCHAR},
            </if>
            <if test="max != null">
                `max` = #{max,jdbcType=VARCHAR},
            </if>
            <if test="checkedRules != null">
                checked_rules = #{checkedRules,jdbcType=VARCHAR},
            </if>
            <if test="active != null">
                active = #{active,jdbcType=VARCHAR},
            </if>
            <if test="adapter != null">
                adapter = #{adapter,jdbcType=VARCHAR},
            </if>
            <if test="rule != null">
                rule = #{rule,jdbcType=VARCHAR},
            </if>
            <if test="comments != null">
                comments = #{comments,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="createOn != null">
                create_on = #{createOn,jdbcType=TIMESTAMP},
            </if>
            <if test="updateOn != null">
                update_on = #{updateOn,jdbcType=TIMESTAMP},
            </if>
        </set>
        where channel_code = #{channelCode,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.abc.chenzeshenga.logistics.model.Channel">
        update l_channel
        set channel_name  = #{channelName,jdbcType=VARCHAR},
            partner       = #{partner,jdbcType=VARCHAR},
            `min`         = #{min,jdbcType=VARCHAR},
            `max`         = #{max,jdbcType=VARCHAR},
            checked_rules = #{checkedRules,jdbcType=VARCHAR},
            active        = #{active,jdbcType=VARCHAR},
            adapter       = #{adapter,jdbcType=VARCHAR},
            rule          = #{rule,jdbcType=VARCHAR},
            comments      = #{comments,jdbcType=VARCHAR},
            create_by     = #{createBy,jdbcType=VARCHAR},
            update_by     = #{updateBy,jdbcType=VARCHAR},
            create_on     = #{createOn,jdbcType=TIMESTAMP},
            update_on     = #{updateOn,jdbcType=TIMESTAMP}
        where channel_code = #{channelCode,jdbcType=VARCHAR}
    </update>

    <select id="list" resultType="com.abc.chenzeshenga.logistics.model.ChannelLabel">
        select channel_code as value, channel_name as label
        from l_channel
    </select>

    <select id="listByWhere" resultType="com.abc.chenzeshenga.logistics.model.ChannelLabel">
        select channel_code as value, channel_name as label
        from l_channel
        where adapter = #{adapter}
    </select>

    <select id="page" resultMap="BaseResultMap">
        select *
        from l_channel
    </select>
</mapper>