<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.order.ManualOrderContentMapper">

    <select id="getManualOrderContent" parameterType="java.lang.String"
            resultType="com.abc.chenzeshenga.logistics.model.ManualOrderContent">
        select ordno,
               sku,
               dy_sku as dySku,
               name,
               num,
               price,
               picked,
               satisfied,
               uuid
        from l_manual_order_content
        where ordno = #{ordno}
    </select>

    <select id="listManualOrderContentByCategoryAndStatus"
            resultType="com.abc.chenzeshenga.logistics.model.ManualOrderContent">
        select content.ordno,
               content.sku,
               content.dy_sku as dySku,
               content.name,
               content.num,
               content.price,
               content.picked,
               content.satisfied,
               content.uuid
        from l_manual_order_content content,
             l_manual_order ord
        where content.ordno = ord.ord_no
          and ord.category = #{category}
          and ord.status = #{status}
        order by ord.update_on desc
    </select>

</mapper>
