<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.OrderMapper">

    <resultMap id="result" type="com.abc.chenzeshenga.logistics.model.ManualOrder">
        <result property="orderNo" column="ord_no"/>
        <result property="category" column="category"/>
        <result property="carrierNo" column="carrier_no"/>
        <result property="creator" column="owner"/>
        <result property="status" column="status"/>
        <result property="createOn" column="create_on" jdbcType="TIMESTAMP"/>
        <result property="updateOn" column="update_on" jdbcType="TIMESTAMP"/>
        <result property="creator" column="create_by"/>
        <result property="updator" column="update_by"/>
        <result property="fromKenId" column="from_ken_id"/>
        <result property="fromCityId" column="from_city_id"/>
        <result property="fromTownId" column="from_town_id"/>
        <result property="fromDetailAddress" column="from_where"/>
        <result property="fromZipCode" column="from_zipcode"/>
        <result property="toKenId" column="to_ken_id"/>
        <result property="toCityId" column="to_city_id"/>
        <result property="toTownId" column="to_town_id"/>
        <result property="toDetailAddress" column="to_where"/>
        <result property="toZipCode" column="to_zipcode"/>
        <result property="collect" column="on_behalf"/>
        <result property="amount" column="amount"/>
        <result property="chinaNo" column="china_no"/>
        <result property="fromContact" column="from_contact"/>
        <result property="toContact" column="to_contact"/>
        <result property="fromName" column="from_whom"/>
        <result property="toName" column="to_whom"/>
        <result property="channel" column="channel"/>
        <collection property="manualOrderContents" ofType="com.abc.chenzeshenga.logistics.model.ManualOrderContent">
            <result column="sku" property="sku"/>
            <result column="name" property="name"/>
            <result column="num" property="num"/>
            <result column="price" property="price"/>
            <result column="ordno" property="ordno"/>
        </collection>
    </resultMap>


    <update id="update" parameterType="com.abc.chenzeshenga.logistics.model.ManualOrder">
        update l_manual_order
        <trim prefix="set" suffixOverrides=",">
            <if test="category != null and category != ''">
                category=#{category},
            </if>
            <if test="carrierNo != null and carrierNo != ''">
                carrier_no=#{carrierNo},
            </if>
            <if test="trackNo != null and trackNo != ''">
                track_no=#{trackNo},
            </if>
            <if test="channel != null and channel != ''">
                channel=#{channel},
            </if>
            <if test="updateOn != null">
                update_on=#{updateOn},
            </if>
            <if test="updator != null and updator != ''">
                update_by=#{updator},
            </if>
            <if test="fromKenId != null and fromKenId != ''">
                from_ken_id=#{fromKenId},
            </if>
            <if test="fromCityId != null and fromCityId != ''">
                from_city_id=#{fromCityId},
            </if>
            <if test="fromTownId != null and fromTownId != ''">
                from_town_id=#{fromTownId},
            </if>
            <if test="fromDetailAddress != null and fromDetailAddress != ''">
                from_where=#{fromDetailAddress},
            </if>
            <if test="fromZipCode != null and fromZipCode != ''">
                from_zipcode=#{fromZipCode},
            </if>
            <if test="toKenId != null and toKenId != ''">
                to_ken_id=#{toKenId},
            </if>
            <if test="toCityId != null and toCityId != ''">
                to_city_id=#{toCityId},
            </if>
            <if test="toTownId != null and toTownId != ''">
                to_town_id=#{toTownId},
            </if>
            <if test="toDetailAddress != null and toDetailAddress != ''">
                to_where=#{toDetailAddress},
            </if>
            <if test="toZipCode != null and toZipCode != ''">
                to_zipcode=#{toZipCode},
            </if>
            <if test="collect != null and collect != ''">
                on_behalf=#{collect},
            </if>
            <if test="amount != null and amount != ''">
                amount=#{amount},
            </if>
            <if test="chinaNo != null and chinaNo != ''">
                china_no=#{chinaNo},
            </if>
            <if test="fromName != null and fromName != ''">
                from_whom=#{fromName},
            </if>
            <if test="toName != null and toName != ''">
                to_whom=#{toName},
            </if>
            <if test="fromContact != null and fromContact != ''">
                from_contact=#{fromContact},
            </if>
            <if test="toContact != null and toContact != ''">
                to_contact=#{toContact},
            </if>
        </trim>
        where ord_no=#{orderNo}
    </update>

    <insert id="add" parameterType="com.abc.chenzeshenga.logistics.model.ManualOrder">
        insert into l_manual_order(ord_no, category, carrier_no, track_no, owner, status, update_on, create_on, create_by, update_by, from_ken_id,
                                   from_city_id, from_town_id, from_where, from_zipcode, to_ken_id, to_city_id, to_town_id, to_where, to_zipcode,
                                   on_behalf, amount, china_no, from_contact, to_contact, from_whom, to_whom, channel)
        values (#{orderNo}, #{category}, #{orderNo}, #{trackNo}, #{creator}, #{status}, #{updateOn}, #{createOn}, #{creator}, #{updator},
                #{fromKenId}, #{fromCityId}, #{fromTownId}, #{fromDetailAddress}, #{fromZipCode}, #{toKenId}, #{toCityId}, #{toTownId},
                #{toDetailAddress}, #{toZipCode}, #{collect}, #{orderNo}, #{chinaNo}, #{fromContact}, #{toContact}, #{fromName},
                #{toName}, #{channel})
    </insert>

    <insert id="insertContent" parameterType="java.util.List">
        insert into l_manual_order_content(ordno, sku, name, num, price,picked)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.ordno}, #{item.sku}, #{item.name}, #{item.num}, #{item.price},#{item.picked})
        </foreach>
    </insert>

    <select id="list" resultMap="result">
        select *
        from l_manual_order ord left join l_manual_order_content content on (ord.ord_no=content.ordno)
        <where>
            1=1
            <if test="cname != null and cname != 'admin' and cname != 'operator'">
                and ord.creator=#{cname}
            </if>
            <if test="type != null and type != ''">
                and ord.category=#{type}
            </if>
            <if test="status != null and status != ''">
                and ord.status=#{status}
            </if>
        </where>
    </select>

    <delete id="delete">
        delete
        from l_manual_order
        where ord_no = #{ordNo}
    </delete>

    <delete id="deleteContent">
        delete
        from l_manual_order_content
        where ordno = #{ordNo}
    </delete>

    <select id="selectById" resultMap="result">
        select *
        from l_manual_order
        where ord_no = #{ordNo}
    </select>

    <select id="listContent" resultType="com.abc.chenzeshenga.logistics.model.ManualOrderContent">
        select ordno, sku, name, num, price, picked
        from l_manual_order_content
        where ordno = #{ordNo}
    </select>

</mapper>