<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.OrderMapper">

    <resultMap id="result" type="com.abc.chenzeshenga.logistics.model.ManualOrder">
        <result property="orderNo" column="ord_no"/>
        <result property="userCustomOrderNo" column="user_custom_order_no"/>
        <result property="category" column="category"/>
        <result property="carrierNo" column="carrier_no"/>
        <result property="chinaCarrier" column="china_carrier"/>
        <result property="trackNo" column="track_no"/>
        <result property="creator" column="owner"/>
        <result property="status" column="status"/>
        <result property="createOn" column="create_on" jdbcType="TIMESTAMP"/>
        <result property="updateOn" column="update_on" jdbcType="TIMESTAMP"/>
        <result property="creator" column="create_by"/>
        <result property="updator" column="update_by"/>
        <result property="fromAddressLine1" column="from_address_line1"/>
        <result property="fromAddressLine2" column="from_address_line2"/>
        <result property="fromAddressLine3" column="from_address_line3"/>
        <result property="fromZipCode" column="from_zipcode"/>
        <result property="toAddressLine1" column="to_address_line1"/>
        <result property="toAddressLine2" column="to_address_line2"/>
        <result property="toAddressLine3" column="to_address_line3"/>
        <result property="toZipCode" column="to_zipcode"/>
        <result property="collect" column="on_behalf"/>
        <result property="collectNum" column="collect_num"/>
        <result property="amount" column="amount"/>
        <result property="chinaNo" column="china_no"/>
        <result property="fromContact" column="from_contact"/>
        <result property="toContact" column="to_contact"/>
        <result property="fromName" column="from_whom"/>
        <result property="toName" column="to_whom"/>
        <result property="channel" column="channel"/>
        <result property="length" column="length"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="sum" column="sum"/>
        <result property="totalVolumeWithWeight" column="total_volume_with_weight"/>
        <result property="totalVolume" column="total_volume"/>
        <result property="totalWeight" column="total_weight"/>
        <result property="files" column="files"/>
        <collection property="manualOrderContents" ofType="com.abc.chenzeshenga.logistics.model.ManualOrderContent">
            <result column="uuid" property="uuid"/>
            <result column="dy_sku" property="dySku"/>
            <result column="name" property="name"/>
            <result column="num" property="num"/>
            <result column="price" property="price"/>
            <result column="ordno" property="ordno"/>
            <result column="picked" property="picked"/>
            <result column="satisfied" property="satisfied"/>
        </collection>
    </resultMap>

    <resultMap id="resultV2" type="com.abc.chenzeshenga.logistics.model.ManualOrder">
        <result property="orderNo" column="ord_no"/>
        <result property="userCustomOrderNo" column="user_custom_order_no"/>
        <result property="category" column="category"/>
        <result property="carrierNo" column="carrier_no"/>
        <result property="chinaCarrier" column="china_carrier"/>
        <result property="trackNo" column="track_no"/>
        <result property="creator" column="owner"/>
        <result property="status" column="status"/>
        <result property="createOn" column="create_on" jdbcType="TIMESTAMP"/>
        <result property="updateOn" column="update_on" jdbcType="TIMESTAMP"/>
        <result property="creator" column="create_by"/>
        <result property="updator" column="update_by"/>
        <result property="fromAddressLine1" column="from_address_line1"/>
        <result property="fromAddressLine2" column="from_address_line2"/>
        <result property="fromAddressLine3" column="from_address_line3"/>
        <result property="fromZipCode" column="from_zipcode"/>
        <result property="toAddressLine1" column="to_address_line1"/>
        <result property="toAddressLine2" column="to_address_line2"/>
        <result property="toAddressLine3" column="to_address_line3"/>
        <result property="toZipCode" column="to_zipcode"/>
        <result property="collect" column="on_behalf"/>
        <result property="collectNum" column="collect_num"/>
        <result property="ordUserFee" column="ord_user_fee"/>
        <result property="amount" column="amount"/>
        <result property="chinaNo" column="china_no"/>
        <result property="fromContact" column="from_contact"/>
        <result property="toContact" column="to_contact"/>
        <result property="fromName" column="from_whom"/>
        <result property="toName" column="to_whom"/>
        <result property="channel" column="channel"/>
        <result property="length" column="length"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="sum" column="sum"/>
        <result property="totalVolumeWithWeight" column="total_volume_with_weight"/>
        <result property="totalVolume" column="total_volume"/>
        <result property="totalWeight" column="total_weight"/>
        <result property="files" column="files"/>
    </resultMap>

    <update id="update" parameterType="com.abc.chenzeshenga.logistics.model.ManualOrder">
        update l_manual_order
        <trim prefix="set" suffixOverrides=",">
            <if test="category != null and category != ''">
                category=#{category},
            </if>
            <if test="carrierNo != null and carrierNo != ''">
                carrier_no=#{carrierNo},
            </if>
            <if test="chinaCarrier != null and chinaCarrier != ''">
                china_carrier=#{chinaCarrier},
            </if>
            <if test="trackNo != null and trackNo != ''">
                track_no=#{trackNo},
            </if>
            <if test="channel != null and channel != ''">
                channel=#{channel},
            </if>
            <if test="updateOn != null">
                update_on=#{updateOn},
            </if>
            <if test="updator != null and updator != ''">
                update_by=#{updator},
            </if>
            <if test="fromAddressLine1 != null and fromAddressLine1 != ''">
                from_address_line1=#{fromAddressLine1},
            </if>
            <if test="fromAddressLine2 != null and fromAddressLine2 != ''">
                from_address_line2=#{fromAddressLine2},
            </if>
            <if test="fromAddressLine1 != null and fromAddressLine1 != ''">
                from_address_line2=#{fromAddressLine2},
            </if>
            <if test="fromZipCode != null and fromZipCode != ''">
                from_zipcode=#{fromZipCode},
            </if>
            <if test="toAddressLine1 != null and toAddressLine1 != ''">
                to_address_line1=#{toAddressLine1},
            </if>
            <if test="toAddressLine2 != null and toAddressLine2 != ''">
                to_address_line2=#{toAddressLine2},
            </if>
            <if test="toAddressLine3 != null and toAddressLine3 != ''">
                to_address_line2=#{toAddressLine3},
            </if>
            <if test="toZipCode != null and toZipCode != ''">
                to_zipcode=#{toZipCode},
            </if>
            <if test="collect != null and collect != ''">
                on_behalf=#{collect},
            </if>
            <if test="amount != null and amount != ''">
                amount=#{amount},
            </if>
            <if test="chinaNo != null and chinaNo != ''">
                china_no=#{chinaNo},
            </if>
            <if test="fromName != null and fromName != ''">
                from_whom=#{fromName},
            </if>
            <if test="toName != null and toName != ''">
                to_whom=#{toName},
            </if>
            <if test="fromContact != null and fromContact != ''">
                from_contact=#{fromContact},
            </if>
            <if test="toContact != null and toContact != ''">
                to_contact=#{toContact},
            </if>
            <if test="collectNum != null and collectNum != ''">
                collect_num=#{collectNum},
            </if>
            <if test="length != null">
                length=#{length},
            </if>
            <if test="width != null">
                width=#{width},
            </if>
            <if test="height != null">
                height=#{height},
            </if>
            <if test="sum != null">
                sum=#{sum},
            </if>
            <if test="totalVolumeWithWeight != null">
                total_volume_with_weight=#{totalVolumeWithWeight},
            </if>
            <if test="totalWeight != null">
                total_weight=#{totalWeight},
            </if>
            <if test="totalVolume != null">
                total_volume=#{totalVolume},
            </if>
            <if test="status != null and status != ''">
                status=#{status},
            </if>
            <if test="files != null and files != ''">
                files=#{files},
            </if>
            <if test="pickup != 2">
                pickup=#{pickup},
            </if>
        </trim>
        where ord_no=#{orderNo}
    </update>

    <update id="updateVolumeAndWeight" parameterType="com.abc.chenzeshenga.logistics.model.ManualOrder">
        update l_manual_order
        set total_volume=#{totalVolume},
            total_weight=#{totalWeight},
            ord_fee=#{ordFee}
        where ord_no = #{orderNo}
    </update>

    <insert id="add" parameterType="com.abc.chenzeshenga.logistics.model.ManualOrder">
        insert into l_manual_order(ord_no, user_custom_order_no, category, carrier_no, track_no, owner, status,
                                   update_on, create_on,
                                   create_by, update_by, from_address_line1,
                                   from_address_line2, from_address_line3, from_zipcode, to_address_line1,
                                   to_address_line2,
                                   to_address_line3, to_zipcode,
                                   on_behalf, amount, china_no, from_contact, to_contact, from_whom, to_whom, channel,
                                   china_carrier, collect_num)
        values (#{orderNo}, #{userCustomOrderNo}, #{category}, #{orderNo}, #{trackNo}, #{creator}, #{status},
                #{updateOn}, #{createOn},
                #{creator}, #{updator},
                #{fromAddressLine1}, #{fromAddressLine2}, #{fromAddressLine3}, #{fromZipCode}, #{toAddressLine1},
                #{toAddressLine2}, #{toAddressLine3}, #{toZipCode}, #{collect}, #{orderNo}, #{chinaNo}, #{fromContact},
                #{toContact},
                #{fromName},
                #{toName}, #{channel}, #{chinaCarrier}, #{collectNum})
    </insert>

    <!-- 批量插入订单货物 -->
    <insert id="insertContent" parameterType="java.util.List">
        insert into l_manual_order_content(ordno, sku, name, num, price,picked,satisfied,uuid,dy_sku)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.ordno}, #{item.sku}, #{item.name}, #{item.num},
            #{item.price},#{item.picked},#{item.satisfied},#{item.uuid},#{item.dySku})
        </foreach>
    </insert>

    <select id="list" resultMap="result">
        select *
        from l_manual_order ord left join l_manual_order_content content on (ord.ord_no=content.ordno)
        <where>
            1=1
            <if test="cname != null and cname != 'admin' and cname != 'operator'">
                and ord.create_by=#{cname}
            </if>
            <if test="type != null and type != ''">
                and ord.category=#{type}
            </if>
            <if test="status != null and status != ''">
                and ord.status=#{status}
            </if>
        </where>
        order by ord.update_on desc
    </select>

    <select id="listAllByStatus" resultMap="result">
        select *
        from l_manual_order ord
                 left join l_manual_order_content content on (ord.ord_no = content.ordno)
        where ord.status = #{status}
          and ord.category = #{category}
        order by ord.update_on desc
    </select>

    <select id="listAllByStatusV2" resultType="com.abc.chenzeshenga.logistics.model.ord.ManualOrderV2">
        select ord_no               as orderNo,
               user_custom_order_no as userCustomOrderNo,
               status,
               create_by            as creator,
               create_on            as createOn,
               carrier_no           as carrierNo,
               track_no             as trackNo,
               category,
               channel,
               from_address_line1   as fromAddressLine1,
               from_address_line2   as fromAddressLine2,
               from_address_line3   as fromAddressLine3,
               from_zipcode         as fromZipCode,
               from_whom            as fromName,
               from_contact         as fromContact,
               to_address_line1     as toAddressLine1,
               to_address_line2     as toAddressLine2,
               to_address_line3     as toAddressLine3,
               to_zipcode           as toZipCode,
               to_whom              as toName,
               to_contact           as toContact,
               on_behalf            as onBehalf,
               collect_num          as collectNum
        from l_manual_order ord
        where ord.status = #{status}
          and ord.category = #{category}
        order by ord.update_on desc
    </select>

    <select id="listAllByStatusAndCreatorV2" resultType="com.abc.chenzeshenga.logistics.model.ord.ManualOrderV2">
        select ord_no               as orderNo,
               user_custom_order_no as userCustomOrderNo,
               status,
               create_by            as creator,
               create_on            as createOn,
               carrier_no           as carrierNo,
               track_no             as trackNo,
               category,
               channel,
               from_address_line1   as fromAddressLine1,
               from_address_line2   as fromAddressLine2,
               from_address_line3   as fromAddressLine3,
               from_zipcode         as fromZipCode,
               from_whom            as fromName,
               from_contact         as fromContact,
               to_address_line1     as toAddressLine1,
               to_address_line2     as toAddressLine2,
               to_address_line3     as toAddressLine3,
               to_zipcode           as toZipCode,
               to_whom              as toName,
               to_contact           as toContact,
               on_behalf            as onBehalf,
               collect_num          as collectNum
        from l_manual_order ord
        where ord.status = #{status}
          and ord.category = #{category}
          and ord.create_by = #{creator}
        order by ord.update_on desc
    </select>

    <select id="listAllByUsername" resultMap="result" parameterType="java.util.Map">
        select *
        from l_manual_order ord left join l_manual_order_content content on (ord.ord_no=content.ordno)
        <where>
            1=1
            <if test="cname != null and cname != ''">
                and ord.create_by=#{cname}
            </if>
            <if test="status != null and status != ''">
                and ord.status=#{status}
            </if>
            <if test="category != null and category != ''">
                and ord.category=#{category}
            </if>
        </where>
        order by ord.update_on desc
    </select>

    <select id="listByRange" resultMap="resultV2">
        select *
        from l_manual_order ord
        <trim prefix="where" prefixOverrides="and">
            <if test="type != null and type != ''">
                and ord.category=#{type}
            </if>
            <if test="status != null and status != ''">
                and ord.status=#{status}
            </if>
            <if test="ordno != null and ordno != ''">
                and ord.ord_no=#{ordno}
            </if>
            <if test="creator != null and creator != ''">
                and ord.create_by=#{creator}
            </if>
            <if test="channelCode != null and channelCode != ''">
                and ord.channel=#{channelCode}
            </if>
            <if test="trackNo != null and trackNo != ''">
                and ord.track_no=#{trackNo}
            </if>
            <if test="userCustomOrderNo != null and userCustomOrderNo != ''">
                and ord.user_custom_order_no=#{userCustomOrderNo}
            </if>
            <if test="pickup != 3 and pickup != ''">
                and ord.pickup=#{pickup}
            </if>
            <if test="from != null">
                and ord.create_on >= #{from}
            </if>
            <if test="to != null">
                and ord.create_on &lt;= #{to}
            </if>
        </trim>
        order by ord.update_on desc
        limit #{fromIdx},#{toIdx}
    </select>

    <select id="countByRange" resultType="java.lang.Integer">
        select count(*)
        from l_manual_order ord
        <where>
            1=1
            <if test="type != null and type != ''">
                and ord.category=#{type}
            </if>
            <if test="status != null and status != ''">
                and ord.status=#{status}
            </if>
            <if test="ordno != null and ordno != ''">
                and ord.ord_no=#{ordno}
            </if>
            <if test="creator != null and creator != ''">
                and ord.create_by=#{creator}
            </if>
            <if test="channelCode != null and channelCode != ''">
                and ord.channel=#{channelCode}
            </if>
            <if test="trackNo != null and trackNo != ''">
                and ord.track_no=#{trackNo}
            </if>
            <if test="userCustomOrderNo != null and userCustomOrderNo != ''">
                and ord.user_custom_order_no=#{userCustomOrderNo}
            </if>
            <if test="pickup != 3 and pickup != ''">
                and ord.pickup=#{pickup}
            </if>
            <if test="from != null">
                and ord.create_on >= #{from}
            </if>
            <if test="to != null">
                and ord.create_on &lt;= #{to}
            </if>
        </where>
    </select>

    <select id="listByRangeWithoutPage" resultMap="result">
        select *
        from l_manual_order ord left join l_manual_order_content content on (ord.ord_no=content.ordno)
        <trim prefix="where" prefixOverrides="and">
            <if test="type != null and type != ''">
                and ord.category=#{type}
            </if>
            <if test="status != null and status != ''">
                and ord.status=#{status}
            </if>
            <if test="ordno != null and ordno != ''">
                and ord.ord_no=#{ordno}
            </if>
            <if test="creator != null and creator != ''">
                and ord.create_by=#{creator}
            </if>
            <if test="channelCode != null and channelCode != ''">
                and ord.channel=#{channelCode}
            </if>
            <if test="trackNo != null and trackNo != ''">
                and ord.track_no=#{trackNo}
            </if>
            <if test="userCustomOrderNo != null and userCustomOrderNo != ''">
                and ord.user_custom_order_no=#{userCustomOrderNo}
            </if>
            <if test="pickup != 3 and pickup != ''">
                and ord.pickup=#{pickup}
            </if>
            <if test="from != null">
                and ord.create_on >= #{from}
            </if>
            <if test="to != null">
                and ord.create_on &lt;= #{to}
            </if>
        </trim>
        order by ord.update_on desc
    </select>

    <select id="listByRangeWithoutPageV2" resultType="com.abc.chenzeshenga.logistics.model.ord.ManualOrderV2">
        select ord_no as orderNo,
        user_custom_order_no as userCustomOrderNo,
        status,
        create_by as creator,
        create_on as createOn,
        carrier_no as carrierNo,
        track_no as trackNo,
        category,
        channel,
        from_address_line1 as fromAddressLine1,
        from_address_line2 as fromAddressLine2,
        from_address_line3 as fromAddressLine3,
        from_zipcode as fromZipCode,
        from_whom as fromName,
        from_contact as fromContact,
        to_address_line1 as toAddressLine1,
        to_address_line2 as toAddressLine2,
        to_address_line3 as toAddressLine3,
        to_zipcode as toZipCode,
        to_whom as toName,
        to_contact as toContact,
        on_behalf as onBehalf,
        collect_num as collectNum
        from l_manual_order ord
        <trim prefix="where" prefixOverrides="and">
            <if test="type != null and type != ''">
                and ord.category=#{type}
            </if>
            <if test="status != null and status != ''">
                and ord.status=#{status}
            </if>
            <if test="ordno != null and ordno != ''">
                and ord.ord_no=#{ordno}
            </if>
            <if test="creator != null and creator != ''">
                and ord.create_by=#{creator}
            </if>
            <if test="channelCode != null and channelCode != ''">
                and ord.channel=#{channelCode}
            </if>
            <if test="trackNo != null and trackNo != ''">
                and ord.track_no=#{trackNo}
            </if>
            <if test="userCustomOrderNo != null and userCustomOrderNo != ''">
                and ord.user_custom_order_no=#{userCustomOrderNo}
            </if>
            <if test="pickup != 3 and pickup != ''">
                and ord.pickup=#{pickup}
            </if>
            <if test="from != null">
                and ord.create_on >= #{from}
            </if>
            <if test="to != null">
                and ord.create_on &lt;= #{to}
            </if>
        </trim>
        order by ord.update_on desc
    </select>

    <delete id="delete">
        delete
        from l_manual_order
        where ord_no = #{ordNo}
    </delete>

    <delete id="deleteContent">
        delete
        from l_manual_order_content
        where ordno = #{ordNo}
    </delete>

    <select id="selectById" resultMap="result">
        select *
        from l_manual_order
        where ord_no = #{ordNo}
    </select>

    <select id="listContent" resultType="com.abc.chenzeshenga.logistics.model.ManualOrderContent">
        select content.ordno,
               content.dy_sku as dySku,
               content.name,
               content.num,
               content.price,
               content.picked,
               content.satisfied
        from l_manual_order_content content
                 inner join l_manual_order ord on (content.ordno = ord.ord_no)
        where ordno = #{ordNo}
          and (ord.status = 2
            or ord.status = 7)
        order by ord.update_on desc
    </select>

    <select id="listContentBatch" parameterType="java.util.List"
            resultType="com.abc.chenzeshenga.logistics.model.ManualOrderContent">
        select content.ordno, content.sku, content.name, content.num, content.price, content.picked, content.satisfied
        from l_manual_order_content content
        inner join l_manual_order ord on (content.ordno = ord.ord_no)
        where ordno in
        (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
        and (ord.status = 2
        or ord.status = 7)
        order by ord.update_on desc
    </select>

    <!-- 根据订单号获取订单货物内容 -->
    <select id="listContent2" resultType="com.abc.chenzeshenga.logistics.model.ManualOrderContent">
        select content.ordno,
               content.sku,
               content.dy_sku as dySku,
               content.name,
               content.num,
               content.price,
               content.picked,
               content.satisfied
        from l_manual_order_content content
        where ordno = #{ordNo}
    </select>

    <update id="statusUpdate" parameterType="com.abc.chenzeshenga.logistics.model.ManualOrder">
        update l_manual_order
        set status=#{status}
        where ord_no = #{orderNo};
    </update>

    <update id="statusUpdateBatch" parameterType="java.util.Map">
        update l_manual_order
        set status=#{status}, update_on=now()
        where ord_no in
        (
        <foreach collection="ords" item="ord" index="index" separator=",">
            #{ord}
        </foreach>
        )
    </update>

    <update id="fillInTrackNo" parameterType="com.abc.chenzeshenga.logistics.model.ManualOrder">
        update l_manual_order
        set carrier_no=#{carrierNo},
            track_no=#{trackNo},
            update_by=#{updator},
            update_on=#{updateOn}
        where ord_no = #{orderNo}
    </update>

    <update id="abnormal" parameterType="com.abc.chenzeshenga.logistics.model.ManualOrder">
        update l_manual_order
        set abnormalReason=#{abnormalReason},
            status=4
        where ord_no = #{orderNo}
    </update>

    <select id="getProduct" resultType="com.abc.chenzeshenga.logistics.model.Product">
        select sku, dy_sku as dySku, weight, length, width, height
        from l_productions
        where sku = #{sku}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from l_manual_order;
    </select>

    <select id="quickSearch" resultMap="result">
        select *
        from l_manual_order
        where ord_no like CONCAT('%', #{search}, '%')
    </select>

    <select id="getOrderSeq" resultMap="result">
        select *
        from l_manual_order
        order by create_on desc
        limit 1
    </select>

    <select id="fetchOrderNo" resultMap="result">
        select *
        from l_manual_order ord
                 left join l_manual_order_content content on (ord.ord_no = content.ordno)
        where ord.create_by = #{creator}
    </select>

    <select id="getOrdDetail" resultMap="result">
        select *
        from l_manual_order ord
                 left join l_manual_order_content content on (ord.ord_no = content.ordno)
        where ord.ord_no like CONCAT('%', #{ordNo}, '%')
        limit 1
    </select>

    <update id="updateTrackNo" parameterType="com.abc.chenzeshenga.logistics.model.ord.OrdTrackNoMapping">
        update l_manual_order
        set carrier_no=#{carrierNo},
            track_no=#{trackNo},
            update_on=now()
        where ord_no = #{ordNo}
    </update>

    <select id="listContentByOrdNo" parameterType="java.lang.String"
            resultType="com.abc.chenzeshenga.logistics.model.ManualOrderContent">
        select *
        from l_manual_order_content
        where ordno = #{ordNo}
    </select>

    <select id="listV2" resultMap="result">
        select * from l_manual_order ord
        <trim prefix="where" prefixOverrides="and">
            <if test="cname != null and cname != 'admin' and cname != 'operator'">
                and ord.create_by=#{cname}
            </if>
            <if test="type != null and type != ''">
                and ord.category=#{type}
            </if>
            <if test="status != null and status != ''">
                and ord.status=#{status}
            </if>
        </trim>
        limit #{from},#{to}
    </select>

    <select id="countList" resultType="java.lang.Integer">
        select count(1) as result from l_manual_order ord
        <trim prefix="where" prefixOverrides="and">
            <if test="cname != null and cname != 'admin' and cname != 'operator'">
                and ord.create_by=#{cname}
            </if>
            <if test="type != null and type != ''">
                and ord.category=#{type}
            </if>
            <if test="status != null and status != ''">
                and ord.status=#{status}
            </if>
        </trim>
    </select>

    <update id="updateOrder" parameterType="com.abc.chenzeshenga.logistics.temp.entity.TmpOrder">
        update l_manual_order
        set to_zipcode=#{toZipCode}
        where user_custom_order_no = #{userCustomOrderNo}
    </update>

    <delete id="dropOrderPackage">
        delete
        from l_order_package
        where orderNo = #{ordNo}
    </delete>

    <insert id="insertOrderPackage" parameterType="java.util.List">
        insert into l_order_package(uuid, orderNo, length, width, height,totalWeight, carrierNo, trackNo)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.uuid},#{item.orderNo},#{item.length},#{item.width},#{item.height},#{item.totalWeight},#{item.carrierNo},#{item.trackNo})
        </foreach>
    </insert>

    <select id="listPackage" parameterType="java.lang.String"
            resultType="com.abc.chenzeshenga.logistics.model.ord.OrderPackage">
        select uuid,
               orderNo,
               length,
               width,
               height,
               totalWeight,
               carrierNo,
               trackNo
        from l_order_package
        where orderNo = #{orderno}
    </select>

    <select id="listPackageByCategoryAndStatus"
            resultType="com.abc.chenzeshenga.logistics.model.ord.OrderPackage">
        select package.uuid,
               package.orderNo,
               package.length,
               package.width,
               package.height,
               package.totalWeight,
               package.carrierNo,
               package.trackNo
        from l_order_package package,
             l_manual_order ord
        where package.orderNo = ord.ord_no
          and ord.category = #{category}
          and ord.status = #{status}
        order by ord.update_on desc
    </select>

    <select id="listPackageByCategoryAndStatusUser"
            resultType="com.abc.chenzeshenga.logistics.model.ord.OrderPackage">
        select package.uuid,
               package.orderNo,
               package.length,
               package.width,
               package.height,
               package.totalWeight,
               package.carrierNo,
               package.trackNo
        from l_order_package package,
             l_manual_order ord
        where package.orderNo = ord.ord_no
          and ord.category = #{category}
          and ord.status = #{status}
          and ord.create_by = #{creator}
        order by ord.update_on desc
    </select>

    <update id="updateOrdFee">
        update l_manual_order
        set ord_user_fee=#{ordUserFee}
        where ord_no = #{orderNo}
    </update>

</mapper>
