<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.ProductMapper">

    <resultMap id="resultWithShelfContent" type="com.abc.chenzeshenga.logistics.model.Product">
        <id column="sku" jdbcType="VARCHAR" property="sku"/>
        <result column="dy_sku" jdbcType="VARCHAR" property="dySku"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="price" jdbcType="VARCHAR" property="price"/>
        <result column="length" jdbcType="VARCHAR" property="length"/>
        <result column="width" jdbcType="VARCHAR" property="width"/>
        <result column="height" jdbcType="VARCHAR" property="height"/>
        <result column="weight" jdbcType="VARCHAR" property="weight"/>
        <result column="createdBy" jdbcType="VARCHAR" property="createdBy"/>
        <result column="updateBy" jdbcType="VARCHAR" property="updateBy"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="img_path" jdbcType="VARCHAR" property="imgPath"/>
        <result column="alert_num" jdbcType="INTEGER" property="alertNum"/>
        <result column="create_on" jdbcType="TIMESTAMP" property="createOn"/>
        <result column="update_on" jdbcType="TIMESTAMP" property="updateOn"/>
        <result column="ava_num" jdbcType="INTEGER" property="avaNum"/>
        <result column="img1" jdbcType="VARCHAR" property="img1"/>
        <result column="img2" jdbcType="VARCHAR" property="img2"/>
        <result column="img3" jdbcType="VARCHAR" property="img3"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <collection property="productOnShelfList" ofType="com.abc.chenzeshenga.logistics.model.ProductOnShelf">
            <result column="subSku" property="sku"/>
            <result column="subDySku" property="dySku"/>
            <result column="subName" property="name"/>
            <result column="subLocation" property="location"/>
            <result column="subNum" property="num"/>
        </collection>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.abc.chenzeshenga.logistics.model.Product">
        <id column="sku" jdbcType="VARCHAR" property="sku"/>
        <result column="dy_sku" jdbcType="VARCHAR" property="dySku"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="price" jdbcType="VARCHAR" property="price"/>
        <result column="length" jdbcType="VARCHAR" property="length"/>
        <result column="width" jdbcType="VARCHAR" property="width"/>
        <result column="height" jdbcType="VARCHAR" property="height"/>
        <result column="weight" jdbcType="VARCHAR" property="weight"/>
        <result column="createdBy" jdbcType="VARCHAR" property="createdBy"/>
        <result column="updateBy" jdbcType="VARCHAR" property="updateBy"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="img_path" jdbcType="VARCHAR" property="imgPath"/>
        <result column="alert_num" jdbcType="INTEGER" property="alertNum"/>
        <result column="create_on" jdbcType="TIMESTAMP" property="createOn"/>
        <result column="update_on" jdbcType="TIMESTAMP" property="updateOn"/>
        <result column="ava_num" jdbcType="INTEGER" property="avaNum"/>
        <result column="img1" jdbcType="VARCHAR" property="img1"/>
        <result column="img2" jdbcType="VARCHAR" property="img2"/>
        <result column="img3" jdbcType="VARCHAR" property="img3"/>
    </resultMap>

    <select id="list" resultType="com.abc.chenzeshenga.logistics.model.SkuLabel">
        select product.dy_sku       as sku,
               product.product_name as name,
               product.price,
               product.dy_sku       as value,
               product.product_name as label,
               sum(shelf.num)       as num
        from l_up_shelf_product shelf
                 inner join l_productions product on (shelf.sku = product.dy_sku)
        where createdBy = #{username}
        group by product.dy_sku, product.product_name, product.price
        having sum(shelf.num) > 0;
    </select>

    <select id="listAll" resultType="com.abc.chenzeshenga.logistics.model.SkuLabel">
        select distinct product.sku, dy_sku as dySku, product_name as name, price as price, product.ava_num as num
        from l_productions product
    </select>

    <select id="listAllByUser" resultType="com.abc.chenzeshenga.logistics.model.SkuLabel">
        select distinct product.sku,
                        dy_sku          as dySku,
                        product_name    as name,
                        price           as price,
                        product.ava_num as num,
                        dy_sku          as value,
                        product_name    as label
        from l_productions product
        where createdBy = #{username}
    </select>

    <update id="addImg" parameterType="com.abc.chenzeshenga.logistics.model.Product">
        insert into l_productions(sku, img1, img2, img3, createdBy, updateBy, create_on, update_on)
        values (#{sku}, #{img1}, #{img2}, #{img3}, #{createdBy}, #{updateBy}, #{createOn}, #{updateOn})
        on duplicate key update img1=#{img1},
                                img2=#{img2},
                                img3=#{img3},
                                updateBy=#{updateBy},
                                update_on=#{updateOn}
    </update>

    <select id="whetherImgs" resultType="com.abc.chenzeshenga.logistics.model.Product">
        select sku, img1, img2, img3
        from l_productions
        where sku = #{sku}
    </select>

    <select id="whetherImgsV2" resultType="com.abc.chenzeshenga.logistics.model.Product">
        select sku, img1, img2, img3
        from l_productions
        where sku = #{sku}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select sku,
               dy_sku,
               product_name,
               category,
               color,
               `size`,
               price,
               `length`,
               width,
               height,
               weight,
               createdBy,
               updateBy,
               `location`,
               img_path,
               alert_num,
               create_on,
               update_on,
               ava_num,
               img1,
               img2,
               img3
        from l_productions
        where sku = #{sku,jdbcType=VARCHAR}
           or dy_sku = #{sku,jdbcType=VARCHAR}
    </select>

    <select id="listByStatusWithUser" parameterType="java.lang.String" resultMap="resultWithShelfContent">
        select product.*,content.sku as subSku,content.dySku as subDySku,content.name as subName,content.location as
        subLocation,content.num as subNum
        from l_productions product left join l_product_shelf_layout content on(product.sku=content.sku and
        product.dy_sku=content.dySku)
        where status = #{status}
        <if test="username != null and username != 'admin' and username != 'operator'">
            and createdBy = #{username}
        </if>
        <if test="sku != null and sku != ''">
            and product.sku like CONCAT('%', #{sku}, '%')
        </if>
        <if test="dySku != null and dySku != ''">
            and product.dy_sku like CONCAT('%', #{dySku}, '%')
        </if>
        <if test="name != null and name != ''">
            and product.product_name like CONCAT('%', #{name}, '%')
        </if>
    </select>

    <select id="listByStatus" parameterType="java.lang.String" resultMap="resultWithShelfContent">
        select product.*,
        content.sku as subSku,
        content.dySku as subDySku,
        content.name as subName,
        content.location as
        subLocation,
        content.num as subNum
        from l_productions product
        left join l_product_shelf_layout content on (product.sku = content.sku and
        product.dy_sku = content.dySku)
        where status = #{status}
        <if test="creator != null and creator !='' and creator != 'admin' and creator != 'operator'">
            and createdBy = #{creator}
        </if>
        <if test="sku != null and sku != ''">
            and product.sku like CONCAT('%', #{sku}, '%')
        </if>
        <if test="dySku != null and dySku != ''">
            and product.dy_sku like CONCAT('%', #{dySku}, '%')
        </if>
        <if test="name != null and name != ''">
            and product.product_name like CONCAT('%', #{name}, '%')
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from l_productions
        where sku = #{sku,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.abc.chenzeshenga.logistics.model.Product">
        insert into l_productions (sku, dy_sku, product_name,
                                   category, color, `size`,
                                   price, `length`, width,
                                   height, weight, createdBy,
                                   updateBy, `location`, img_path,
                                   alert_num, create_on, update_on,
                                   ava_num, status)
        values (#{sku,jdbcType=VARCHAR}, #{dySku,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR},
                #{category,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR},
                #{price,jdbcType=VARCHAR}, #{length,jdbcType=VARCHAR}, #{width,jdbcType=VARCHAR},
                #{height,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR},
                #{updateBy,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR},
                #{alertNum,jdbcType=INTEGER}, #{createOn,jdbcType=TIMESTAMP}, #{updateOn,jdbcType=TIMESTAMP},
                #{avaNum,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.abc.chenzeshenga.logistics.model.Product">
        insert into l_productions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sku != null">
                sku,
            </if>
            <if test="dySku != null">
                dy_sku,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="color != null">
                color,
            </if>
            <if test="size != null">
                `size`,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="length != null">
                `length`,
            </if>
            <if test="width != null">
                width,
            </if>
            <if test="height != null">
                height,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="createdBy != null">
                createdBy,
            </if>
            <if test="updateBy != null">
                updateBy,
            </if>
            <if test="location != null">
                `location`,
            </if>
            <if test="imgPath != null">
                img_path,
            </if>
            <if test="alertNum != null">
                alert_num,
            </if>
            <if test="createOn != null">
                create_on,
            </if>
            <if test="updateOn != null">
                update_on,
            </if>
            <if test="avaNum != null">
                ava_num,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sku != null">
                #{sku,jdbcType=VARCHAR},
            </if>
            <if test="dySku != null">
                #{dySku,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                #{category,jdbcType=VARCHAR},
            </if>
            <if test="color != null">
                #{color,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                #{size,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=VARCHAR},
            </if>
            <if test="length != null">
                #{length,jdbcType=VARCHAR},
            </if>
            <if test="width != null">
                #{width,jdbcType=VARCHAR},
            </if>
            <if test="height != null">
                #{height,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="imgPath != null">
                #{imgPath,jdbcType=VARCHAR},
            </if>
            <if test="alertNum != null">
                #{alertNum,jdbcType=INTEGER},
            </if>
            <if test="createOn != null">
                #{createOn,jdbcType=TIMESTAMP},
            </if>
            <if test="updateOn != null">
                #{updateOn,jdbcType=TIMESTAMP},
            </if>
            <if test="avaNum != null">
                #{avaNum,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.abc.chenzeshenga.logistics.model.Product">
        update l_productions
        <set>
            <if test="dySku != null">
                dy_sku = #{dySku,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="color != null">
                color = #{color,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                `size` = #{size,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=VARCHAR},
            </if>
            <if test="length != null">
                `length` = #{length,jdbcType=VARCHAR},
            </if>
            <if test="width != null">
                width = #{width,jdbcType=VARCHAR},
            </if>
            <if test="height != null">
                height = #{height,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                createdBy = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                updateBy = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                `location` = #{location,jdbcType=VARCHAR},
            </if>
            <if test="imgPath != null">
                img_path = #{imgPath,jdbcType=VARCHAR},
            </if>
            <if test="alertNum != null">
                alert_num = #{alertNum,jdbcType=INTEGER},
            </if>
            <if test="createOn != null">
                create_on = #{createOn,jdbcType=TIMESTAMP},
            </if>
            <if test="updateOn != null">
                update_on = #{updateOn,jdbcType=TIMESTAMP},
            </if>
            <if test="avaNum != null">
                ava_num = #{avaNum,jdbcType=INTEGER},
            </if>
            <if test="img1 != null">
                img1 = #{img1,jdbcType=VARCHAR},
            </if>
            <if test="img2 != null">
                img2 = #{img2,jdbcType=VARCHAR},
            </if>
            <if test="img3 != null">
                img3 = #{img3,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where sku = #{sku,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.abc.chenzeshenga.logistics.model.Product">
        update l_productions
        set dy_sku       = #{dySku,jdbcType=VARCHAR},
            product_name = #{productName,jdbcType=VARCHAR},
            category     = #{category,jdbcType=VARCHAR},
            color        = #{color,jdbcType=VARCHAR},
            `size`       = #{size,jdbcType=VARCHAR},
            price        = #{price,jdbcType=VARCHAR},
            `length`     = #{length,jdbcType=VARCHAR},
            width        = #{width,jdbcType=VARCHAR},
            height       = #{height,jdbcType=VARCHAR},
            weight       = #{weight,jdbcType=VARCHAR},
            createdBy    = #{createdBy,jdbcType=VARCHAR},
            updateBy     = #{updateBy,jdbcType=VARCHAR},
            `location`   = #{location,jdbcType=VARCHAR},
            img_path     = #{imgPath,jdbcType=VARCHAR},
            alert_num    = #{alertNum,jdbcType=INTEGER},
            create_on    = #{createOn,jdbcType=TIMESTAMP},
            update_on    = #{updateOn,jdbcType=TIMESTAMP},
            ava_num      = #{avaNum,jdbcType=INTEGER}
        where sku = #{sku,jdbcType=VARCHAR}
    </update>

    <update id="statusUpdate" parameterType="java.lang.String">
        update l_productions
        set status=#{status}
        where sku = #{sku}
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        update l_productions
        set status='1'
        where
        <foreach collection="list" item="item" index="index" separator="or">
            sku = #{item}
        </foreach>
    </update>

</mapper>
