<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.product.ProductOutWarehouseRecordMapper">
    <cache eviction="FIFO" flushInterval="600000" size="512"/>

    <select id="list" resultType="com.abc.chenzeshenga.logistics.model.warehouse.ProductOutWarehouse">
        select *
        from logistics.l_product_out_warehouse_record
        <trim prefix="where" prefixOverrides="and">
            <if test="productOutWarehouseRecord.dySku != null and productOutWarehouseRecord.dySku != ''">
                and dy_sku like CONCAT('%', #{productOutWarehouseRecord.dySku}, '%')
            </if>
            <if test="productOutWarehouseRecord.sku != null and productOutWarehouseRecord.sku != ''">
                and sku like CONCAT('%', #{productOutWarehouseRecord.sku}, '%')
            </if>
            <if test="productOutWarehouseRecord.owner != null and productOutWarehouseRecord.owner != ''">
                and owner like CONCAT('%', #{productOutWarehouseRecord.owner}, '%')
            </if>
            <if test="productOutWarehouseRecord.orderNo != null and productOutWarehouseRecord.orderNo != ''">
                and order_no like CONCAT('%', #{productOutWarehouseRecord.orderNo}, '%')
            </if>
            <if test="productOutWarehouseRecord.trackNo != null and productOutWarehouseRecord.trackNo != ''">
                and track_no like CONCAT('%', #{productOutWarehouseRecord.trackNo}, '%')
            </if>
            <if test="productOutWarehouseRecord.startDate != null and productOutWarehouseRecord.endDate != null">
                and out_time between #{productOutWarehouseRecord.startDate} and #{productOutWarehouseRecord.endDate}
            </if>
        </trim>
        order by out_time desc
        limit #{sqlLimit.from},#{sqlLimit.to}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from logistics.l_product_out_warehouse_record
        <trim prefix="where" prefixOverrides="and">
            <if test="productOutWarehouseRecord.dySku != null and productOutWarehouseRecord.dySku != ''">
                and dy_sku like CONCAT('%', #{productOutWarehouseRecord.dySku}, '%')
            </if>
            <if test="productOutWarehouseRecord.sku != null and productOutWarehouseRecord.sku != ''">
                and sku like CONCAT('%', #{productOutWarehouseRecord.sku}, '%')
            </if>
            <if test="productOutWarehouseRecord.owner != null and productOutWarehouseRecord.owner != ''">
                and owner like CONCAT('%', #{productOutWarehouseRecord.owner}, '%')
            </if>
            <if test="productOutWarehouseRecord.orderNo != null and productOutWarehouseRecord.orderNo != ''">
                and order_no like CONCAT('%', #{productOutWarehouseRecord.orderNo}, '%')
            </if>
            <if test="productOutWarehouseRecord.trackNo != null and productOutWarehouseRecord.trackNo != ''">
                and track_no like CONCAT('%', #{productOutWarehouseRecord.trackNo}, '%')
            </if>
            <if test="productOutWarehouseRecord.startDate != null and productOutWarehouseRecord.endDate != null">
                and out_time between #{productOutWarehouseRecord.startDate} and #{productOutWarehouseRecord.endDate}
            </if>
        </trim>
    </select>
</mapper>
