<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.warehouse.ProductOutWarehouseMapper">

    <insert id="insert" parameterType="com.abc.chenzeshenga.logistics.model.warehouse.ProductOutWarehouse">
        insert into l_product_out_warehouse_record(uuid, dy_sku,sku, num, `owner`, order_no, track_no, out_time,hours_in_warehouse)
        values (#{uuid},#{dySku}, #{sku}, #{num}, #{owner}, #{orderNo}, #{trackNo}, #{outTime},#{hoursInWarehouse})
    </insert>

    <select id="list" resultType="com.abc.chenzeshenga.logistics.model.warehouse.ProductOutWarehouse">
        select
        uuid as uuid,
        dy_sku as dySku,
        sku as sku,
        num as num,
        owner as owner,
        order_no as orderNo,
        track_no as trackNo,
        out_time as outTime
        hours_in_warehouse as hoursInWarehouse
        from l_product_out_warehouse_record
        <trim prefix="where" prefixOverrides="and">
            <if test="owner !=null and owner != ''">
                and owner=#{owner}
            </if>
            <if test="sku !=null and sku != ''">
                and sku=#{sku}
            </if>
            <if test="dySku !=null and dySku != ''">
                and dy_sku=#{dySku}
            </if>
            <if test="orderNo !=null and orderNo != ''">
                and order_no=#{orderNo}
            </if>
            <if test="trackNo !=null and trackNo != ''">
                and track_no=#{trackNo}
            </if>
            <if test="startDate !=null and endDate != null">
                and out_time between #{startDate} and #{endDate}
            </if>
        </trim>
    </select>

</mapper>
