<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.product.ProductOutWarehouseRecordMapper">
    <cache eviction="FIFO" flushInterval="600000" size="512"/>

    <select id="list" resultType="com.abc.chenzeshenga.logistics.model.warehouse.ProductOutWarehouse">
        select *
        from logistics.l_product_out_warehouse_record
        <trim prefix="where" prefixOverrides="and">
            <if test="productOutWarehouseRecord.dySku != null and productOutWarehouseRecord.dySku != ''">
                and dySku like CONCAT('%', #{productOutWarehouseRecord.dySku}, '%')
            </if>
        </trim>
        limit #{sqlLimit.from},#{sqlLimit.to}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from logistics.l_product_out_warehouse_record
        <trim prefix="where" prefixOverrides="and">
            <if test="productOutWarehouseRecord.dySku != null and productOutWarehouseRecord.dySku != ''">
                and dySku like CONCAT('%', #{productOutWarehouseRecord.dySku}, '%')
            </if>
        </trim>
    </select>

</mapper>
