<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.ProductMapper">

    <resultMap id="result" type="com.abc.chenzeshenga.logistics.model.Product">
        <result column="sku" property="sku"/>
        <result column="img" property="img" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
    </resultMap>


    <select id="list" resultType="com.abc.chenzeshenga.logistics.model.SkuLabel">
        select sku, dy_sku as dySku, name, value as price
        from l_productions
        where createdBy = #{username}
    </select>

    <select id="listAll" resultType="com.abc.chenzeshenga.logistics.model.SkuLabel">
        select sku, dy_sku as dySku, name, value as price
        from l_productions
    </select>

    <update id="addImg" parameterType="com.abc.chenzeshenga.logistics.model.Product">
        insert into l_productions(sku, img1, img2, img3)
        values (#{sku}, #{img2}, #{img2}, #{img3})
        on duplicate key update img1=#{img1},
                                img2=#{img2},
                                img3=#{img3}
    </update>

    <select id="whetherImgs" resultType="com.abc.chenzeshenga.logistics.model.Product">
        select sku, img1, img2, img3
        from l_productions
        where sku = #{sku}
    </select>

</mapper>