<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.TemplateMapper">
    <resultMap id="BaseResultMap" type="com.abc.chenzeshenga.logistics.model.Template">
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="create_on" jdbcType="TIMESTAMP" property="createOn"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select uuid,
               create_on,
               file_name
        from l_template
        where uuid = #{uuid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from l_template
        where uuid = #{uuid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.abc.chenzeshenga.logistics.model.Template">
        insert into l_template (uuid, create_on, file_name)
        values (#{uuid,jdbcType=VARCHAR}, #{createOn,jdbcType=TIMESTAMP}, #{fileName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.abc.chenzeshenga.logistics.model.Template">
        insert into l_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="createOn != null">
                create_on,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="createOn != null">
                #{createOn,jdbcType=TIMESTAMP},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.abc.chenzeshenga.logistics.model.Template">
        update l_template
        <set>
            <if test="createOn != null">
                create_on = #{createOn,jdbcType=TIMESTAMP},
            </if>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
        </set>
        where uuid = #{uuid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.abc.chenzeshenga.logistics.model.Template">
        update l_template
        set create_on = #{createOn,jdbcType=TIMESTAMP},
            file_name = #{fileName,jdbcType=VARCHAR}
        where uuid = #{uuid,jdbcType=VARCHAR}
    </update>

    <select id="list" resultMap="BaseResultMap">
        select *
        from l_template
        <trim prefix="where" prefixOverrides="or">
            <if test="reg!=''">
                uuid like CONCAT('%', #{reg}, '%')
            </if>
            <if test="reg!=''">
                or file_name like CONCAT('%', #{reg}, '%')
            </if>
        </trim>
    </select>
</mapper>
