<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chenzeshenga.logistics.mapper.shelf.UpShelfProductMapper">
    <select id="selectOneBySku" resultType="com.abc.chenzeshenga.logistics.model.shelf.UpShelfProduct"
            parameterType="java.lang.String">
        select dy_sku         as dySku,
               name,
               num,
               shelf_no       as shelfNo,
               uptime,
               uuid,
               owner,
               warehousing_no as warehousingNo
        from l_up_shelf_product
        where dy_sku = #{sku}
          and owner = #{owner}
          and num > 0
        order by uptime desc
        limit 1
    </select>

    <insert id="insert" parameterType="com.abc.chenzeshenga.logistics.model.shelf.UpShelfProduct">
        insert into l_up_shelf_product(dy_sku, name, num, shelf_no, uptime, uuid, owner, warehousing_no) VALUE
            (#{dySku}, #{name}, #{num}, #{shelfNo}, #{upTime}, #{uuid}, #{owner}, #{warehousingNo})
    </insert>

</mapper>
